<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'menu.html' %}
<h1>Dodawanie pracownika</h1>
<form method="post">
    <table border="1">
        <tr><th>Imię</th><td><input type="text" name="first_name" size="30"/></td></tr>
        <tr><th>Nazwisko</th><td><input type="text" name="last_name" size="30"/></td></tr>
        <tr><th>Wynagrodzenie</th><td><input type="number" name="salary"/></td></tr>
{#        <tr><th>Komentarz</th><td><input type="text" name="comment"/></td></tr>#}
        <tr><th>Komentarz</th><td><textarea name="comment" cols="30" rows="20"> </textarea> </td></tr>
    </table>
    <input type="submit" value="Zapisz"/>
</form>
</body>
</html>