<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'menu.html' %}
<h1>Edycja produktu</h1>
<form method="post">
    <input type="hidden" value="{{ product.product_id }}" name="id"/>
    <TABLE border="1">
{#        <tr><th>ID</th><td><input type="hidden" value="{{ product.product_id }}"/></td></tr>#}
        <tr><th>Nazwa</th><td><input type="text" value="{{ product.name }}" name="name" required/></td></tr>
        <tr><th>Cena</th><td><input type="number" value="{{ product.price }}" name="price" required/></td></tr>
{#        <tr><th>Opis</th><td><input type="text"/></td></tr>#}
        <tr><th>Opis</th><td><textarea rows="20" cols="30" name="description">{{ product.description }}</textarea></td></tr>
        <tr><th>Stan magazynowy</th><td><input type="number" value="{{ product.stock }}" name="stock"  required /></td></tr>
    </TABLE>
    <input type="submit" value="Zapisz"/>
</form>
</body>
</html>