<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'menu.html' %}
<h1>Lista produktów - plik html</h1>

<a href="/add_product">Dodaj produkt</a>
<table border="1">
    <tr><th>Nazwa</th><td>Cena</td><td>Stan</td><td>Akcje</td></tr>
    {% for p in products %}
        <tr><td>{{ p.name }}</td><td>{{ p.price }}</td><td>
        {% if p.stock==0 %}
            <font color="red"><b>{{ p.stock }}</b></font>
        {% else %}
                <font color="#006400"><b>{{ p.stock }}</b></font>
        {% endif %}
        </td><td>
            <a href="/product_details?id={{ p.product_id }}">Pokaż szczegóły</a>
            <a href="/delete_product?id={{ p.product_id }}">Kasuj produkt</a>
        </td></tr>
    {% endfor %}
</table>
</body>
</html>